@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: 246, 250, 255;
  --background-end-rgb: 246, 250, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start-rgb: 246, 250, 255;
    --background-end-rgb: 246, 250, 255;
  }
}

body {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
